[submodule "Packages/com.easygameframework"]
	path = Packages/com.easygameframework
	url = git@github.com:easygameframework-dev/com.easygameframework.git
[submodule "Packages/com.easygameframework.puerts"]
	path = Packages/com.easygameframework.puerts
	url = git@github.com:easygameframework-dev/com.easygameframework.puerts.git
[submodule "Packages/com.easygameframework.luban"]
	path = Packages/com.easygameframework.luban
	url = git@github.com:easygameframework-dev/com.easygameframework.luban.git
[submodule "Packages/com.easygameframework.yooasset"]
	path = Packages/com.easygameframework.yooasset
	url = git@github.com:easygameframework-dev/com.easygameframework.yooasset.git
[submodule "Packages/com.easygameframework.hybridclr"]
	path = Packages/com.easygameframework.hybridclr
	url = git@github.com:easygameframework-dev/com.easygameframework.hybridclr.git
[submodule "Packages/com.easygameframework.tasks"]
	path = Packages/com.easygameframework.tasks
	url = git@github.com:easygameframework-dev/com.easygameframework.tasks.git
[submodule "Packages/com.easygameframework.essentials"]
	path = Packages/com.easygameframework.essentials
	url = git@github.com:easygameframework-dev/com.easygameframework.essentials.git
[submodule "Packages/com.easytoolkit.core"]
	path = Packages/com.easytoolkit.core
	url = git@github.com:easytoolkit-dev/com.easytoolkit.core.git
[submodule "Packages/com.easytoolkit.inspector"]
	path = Packages/com.easytoolkit.inspector
	url = git@github.com:easytoolkit-dev/com.easytoolkit.inspector.git
[submodule "Packages/com.easytoolkit.serialization"]
	path = Packages/com.easytoolkit.serialization
	url = git@github.com:easytoolkit-dev/com.easytoolkit.serialization.git
[submodule "Packages/com.easytoolkit.fluxion"]
	path = Packages/com.easytoolkit.fluxion
	url = git@github.com:easytoolkit-dev/com.easytoolkit.fluxion.git
[submodule "Packages/com.easygameframework.bootstrap"]
	path = Packages/com.easygameframework.bootstrap
	url = git@github.com:easygameframework-dev/com.easygameframework.bootstrap.git
